<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="https://aygtc.gov/">
                <img src="/assets/images/logo.png" alt="AYGTC Logo" class="nav-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://aygtc.gov/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://aygtc.gov/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://aygtc.gov/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://aygtc.gov/contact">Contact</a>
                    </li>
                </ul>
                <div class="auth-buttons">
                    <a href="https://aygtc.gov/login" class="auth-btn login-btn">Login</a>
                    <a href="https://aygtc.gov/register" class="auth-btn register-btn">Register</a>
                    <button class="lang-switch" id="langSwitch">
                        <i class="fas fa-globe"></i>
                        <span class="lang-text">English</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>